html
html
   head
      title Registration Form Tester
   body
      form(action = "/login", method = "POST")
         div
            label(for = "email") Email:
            input(name = "email" value = "")
         br
         div
            label(for = "password") Password:
            input(name = "password" value = "")
         br
         button(type = "submit") Submit