html
html
   head
      title Registration Form Tester
   body
      form(action = "/api/register", method = "POST")
         div
            label(for = "department_id") Department Id:
            input(name = "department_id" value = "")
         br
         div
            label(for = "first_name") First Name:
            input(name = "first_name" value = "")
         br
         div
            label(for = "last_name") Last Name:
            input(name = "last_name" value = "")
         br
         div
            label(for = "email") Email Id:
            input(name = "email" value = "")
         br
         div
            label(for = "password") Password:
            input(name = "password" value = "")
         br
         div
            label(for = "designation") Designation:
            input(name = "designation" value = "")
         br
         div
            label(for = "phone") Phone:
            input(name = "phone" value = "")
         br
         div
            label(for = "gender") Gender:
            input(name = "gender" value = "")
         br
         div
            label(for = "owner_id") Owner ID:
            input(name = "owner_id" value = "")
         br
         div
            label(for = "owner_type") Owner Type:
            input(name = "owner_type" value = "")
         br
         div
            label(for = "status") Status:
            input(name = "status" value = "")
         br
         div
            label(for = "language") Language:
            input(name = "language" value = "")
         br
         div
            label(for = "created_at") Created At:
            input(name = "created_at" value = "")
         br
         div
            label(for = "updated_at") Updated At:
            input(name = "updated_at" value = "")
         br
         button(type = "submit") Register